language: php

php:
  - 5.6
  - 7.0

before_script:
  - composer self-update

install:
  - composer install --no-interaction --prefer-source --dev
  - vendor/bin/phpcs --standard="build/cs-ruleset.xml" src/Foo.php
